
telbazz-sender-src/deploy-cordova.sh


telbazz-sender-target/platforms/
telbazz-sender-target/node_modules/
telbazz-sender-target/package-lock.json
telbazz-sender-traget/www

# Project source (react.js) .gitignore files
#See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
telbazz-sender-src/node_modules

# testing
telbazz-sender-src/coverage

# production
telbazz-sender-src/build

# misc
telbazz-sender-src/.DS_Store
telbazz-sender-src/.env.local
telbazz-sender-src/.env.development.local
telbazz-sender-src/.env.test.local
telbazz-sender-src/.env.production.local

telbazz-sender-src/npm-debug.log*
telbazz-sender-src/yarn-debug.log*
telbazz-sender-src/yarn-error.log*

telbazz-sender-src/package-lock.json



