
telebazz-sender-src/deploy-cordova.sh


#telebazz-sender-target/platforms/
#telebazz-sender-target/node_modules/
#telebazz-sender-target/package-lock.json
#telebazz-sender-traget/www

# Project source (react.js) .gitignore files
#See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
telebazz-sender-src/node_modules

# testing
telebazz-sender-src/coverage

# production
telebazz-sender-src/build

# misc
telebazz-sender-src/.DS_Store
telebazz-sender-src/.env.local
telebazz-sender-src/.env.development.local
telebazz-sender-src/.env.test.local
telebazz-sender-src/.env.production.local

telebazz-sender-src/npm-debug.log*
telebazz-sender-src/yarn-debug.log*
telebazz-sender-src/yarn-error.log*

telebazz-sender-src/package-lock.json


./node_modules
