.bg-dark {
  background-color: rgb(129, 209, 212)!important;
}
.btn-secondary {
  color: #fff;
  background-color: #ac93b7;
  border-color: #ac93b7;
}

.btn-secondary.dropdown-toggle {
  /* width: 30px; */
  height: auto;
}

.show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #74637b;
  border-color: #74637b;
}
