#message-icon {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

#send-message-text {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    width: 80%;
    word-break: break-all;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.message-info-container {
    margin-top: 15%;
    margin-bottom: 15%;
}

/* BinaryBitsSender.js */

.loading-spinner {
    font-size: 30vw;
    color: #80d1d4;
    display: flex;
    justify-content: center;
}

.fa-spin {
    animation: fa-spin 5s infinite linear;
}

.message-status {
    text-align: center;
    margin: 15%;
}

.loading-check {
    font-size: 30vw;
    color: rgb(40, 185, 47);
    display: flex;
    justify-content: center;
}

.loading-times {
    font-size: 30vw;
    color: rgb(185, 45, 40);
    display: flex;
    justify-content: center;
}