.message-text {
    margin-top: 4%;
}

#dropdownMessageCtrl {
    margin-top: 28%;
}

.dropdown-message-menu {
    background-color: blue; 
    position: fixed;
}

.main-title-messages {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}