.message-text {
    /* width: 80vw;
    word-wrap: break-word;
    margin-bottom: 0% !important;
    margin-left: 10.8%; */
    width: 65vw;
    word-wrap: break-word;
    margin-bottom: 0% !important;
    margin-left: 11vw;
}

.message-container {
    align-items: center;
}

.dropdown-message-menu {
    background-color: rgb(255, 255, 255);
    width: 40vw;
    border: 1px solid rgb(218, 210, 210);
    border-radius: 2%;
    left: 1.25rem;
    position: absolute;
    z-index: 3;
    margin-top: -4.3%;
    margin-right: 34.7%;
}

.main-title-messages {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    font-weight: bold;
}

.new-message-btn {
    background-color: #48b72e;
    border-radius: 50%;
    border: none;
    color: white;
    padding: 10%;
    text-align: center;
    font-size: 10vw;
    margin: 20% auto;
    cursor: pointer;
    display: flex;
}

#bottom-new-message-btn{
    z-index: 2;
}

.dropdown-msg-control-item {
    padding: 4%;   
}

#msg-ctrl-btn {
    position: absolute;
    z-index: 1;
    /* margin-top: -15%; */
    margin-top: -3.5rem;
    margin-right: 34.7%;
    width: fit-content;
    height: auto;
}

/* .dropdown-toggle::after {
    display: none;
} */