
.dropdown-item {
    text-align:center !important ;
    padding-left: 50%;
    /* padding-top: 4%;
    padding-bottom: 4%; */
}

/* .checkboxer {
    color: blue;
    margin-left: 7%;
} */

/* .dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
    top: 120% !important;
} */

.iconButton {
    padding: 5%;
    margin: 1%;
    background-color: rgb(255, 255, 255);
}

.scrollIcons {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10%;
    width: 100%;
    height: 50vh;
    overflow: auto;
    align-items: center;
    padding: 0% 5%;
}

.custom-control-label {
    left: 0 !important;
}
  
.custom-control-label::before, 
.custom-control-label::after {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -8px;
}

.dropdown-filter-menu {
    background-color: rgb(255, 255, 255); 
    position: fixed;
    z-index: 1;
    transform: translate(-50%, 0) !important;
    left: 50%;
    width: 35%;
    border: 1px solid rgb(218, 210, 210);
    border-radius: 2%;
    overflow: auto;
    height: 60vh;
}

.icon-name {
    margin-top: 6%;
    margin-bottom: 0%;
}

@media screen and (min-width: 576px) {
    .btn-secondary.dropdown-toggle {
        width: 15vw;
    }
  }